<aside class="sticky top-0 left-0 z-40 h-screen border-r w-full">
	<div class="h-full px-3 overflow-y-auto">
		<a
			routerLink="/home"
			class="w-full inline-flex justify-center px-2 py-5 mb-5 border-b">
			<span class="text-primary-800 text-xl font-medium whitespace-nowrap">Rick and Morty API</span>
		</a>
		<ul class="space-y-2">
			<li *ngFor="let item of NAV_ITEMS">
				<a
					class="text-gray-900 flex items-center p-2 rounded-lg hover:bg-primary-100"
					routerLinkActive="bg-primary-100"
					[routerLink]="item.link">
					<i [class]="item.icon"></i>
					<span class="ms-3">{{ item.label }}</span>
				</a>
			</li>
		</ul>
	</div>
</aside>
