<div class="bg-white h-full border rounded-lg shadow-lg flex flex-col overflow-hidden">
	<img
		class="object-cover"
		[src]="character.image" />
	<div class="flex flex-col gap-2 p-4 h-full">
		<span class="text-2xl font-semibold mb-3">{{ character.name }}</span>
		<div>
			<span class="font-semibold">Status: </span><span>{{ character.status }}</span>
		</div>
		<div>
			<span class="font-semibold">Species: </span><span>{{ character.species }}</span>
		</div>
		<div>
			<span class="font-semibold">Gender: </span><span>{{ character.gender }}</span>
		</div>
		<p-button
			class="mt-auto"
			styleClass="w-full !mt-4"
			label="Detail"
			icon="pi pi-arrow-right"
			[routerLink]="['/characters/' + character.id]"></p-button>
	</div>
</div>
