<div
	*ngIf="isLoading"
	class="progress-spinner">
	<p-progressSpinner strokeWidth="4"></p-progressSpinner>
</div>

<div class="pt-5">
	<div class="bg-white border p-7 mb-5 rounded-lg shadow-sm">
		<div class="flex flex-wrap justify-end gap-2 text-p">
			<input
				type="text"
				pInputText
				placeholder="Name"
				[(ngModel)]="query.name"
				(keyup.enter)="onClickSearch(query)" />
			<input
				type="text"
				pInputText
				placeholder="Type"
				[(ngModel)]="query.type"
				(keyup.enter)="onClickSearch(query)" />
			<p-dropdown
				styleClass="w-52"
				optionLabel="label"
				optionValue="value"
				placeholder="Status"
				[options]="CHARACTER_STATUS"
				[showClear]="true"
				[(ngModel)]="query.status"></p-dropdown>
			<p-dropdown
				styleClass="w-52"
				optionLabel="label"
				optionValue="value"
				placeholder="Gender"
				[options]="CHARACTER_GENDER"
				[showClear]="true"
				[(ngModel)]="query.gender"></p-dropdown>
			<p-button
				label="Search"
				icon="pi pi-search"
				(click)="onClickSearch(query)"></p-button>
			<button
				pButton
				icon="pi pi-trash"
				class="p-button-danger"
				(click)="onClickReset()"></button>
		</div>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4">
		<app-character-card
			*ngFor="let character of characters"
			[character]="character" />
	</div>

	<div class="sticky bottom-5 w-max ms-auto">
		<p-paginator
			styleClass="mt-10 mb-5 shadow-xl !border-2 !bg-gray-300"
			[first]="1"
			[rows]="20"
			[totalRecords]="totalPages * 20"
			(onPageChange)="onChangePageQuery($event, query)"></p-paginator>
	</div>
</div>
